*{
    margin: 0%;
    padding: 0%;
}
#header {
    --width: 100%;
     width: var(--width);
     height: fit-content;
     background-color: #ffd7e4;
     /* background-color: rgb(247, 181, 214); */
     /* background-image: url(/assets/backgr-img/header.gif); */
     position: sticky; top: 0%; left: 0; right: 0px;
     z-index: 2;
     box-shadow: 0,0,3, rgba(0, 0, 0, 0.3);
     display: flex;
     align-items: center;
}
#header .header-start{
    height: 100%;
    width: 680px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex; justify-content: flex-start;
    align-items: center;
}
    #header .header-start .logo img {
        width: fit-content;
        height: 40px;
    }
    #header .header-start .search {
        display: flex;
        width: fit-content;
        border-radius: 30px;
        border: 2px solid palevioletred;
        background-color: rgba(51, 39, 42,0.0);
        transition: 1s;
    }
    .search{
        transition: 1s;
    }
    
    #header .header-start .search:hover .search-box {
        width: 370px;
    }
    #header .header-start .search button{
        height: 100%;
        width: 45px;
        border: 5px solid rgba(128, 0, 128,0.0);
        border-radius: 50%;
        background-color: #33272a00;
        cursor: pointer;
        transition: 1s;
    }
    #header .header-start .search .search-box{
        height: 100%;
        width: 0;
        font-size: 18px;
        background-color: transparent;
        border: none;
        outline: none; 
        transition: 1s;
    }


#header .header-end{
    height: 100%;
    width: 685px;
    display: flex;justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}
    .header-end .sublh-cont {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 500px;
        height: 40px;
        border-radius: 3px;
        transition: 0.5s;
        position: relative;
        align-items: center;
    }
    .sublh-container {
        width: 400px;
        display: flex;
        justify-content: space-between;
    }
        .bxl-facebook-circle{
            transition: 0.5s;
        }
    .sublh-Lienhe {
        font-size: 20px;
        font-weight: bold;
    }
    .sublh-Lienhe a:hover{
        color: #FF5D8F;
    }
    .sublh-Lienhe:hover .facebook{
        transform: translateX(30px);
    }
    .header-end .headerend-container{
        width: 185px;
        display: flex; justify-content: space-around;
    }
    .headerend-container a:hover{
        color: #FF5D8F;
    }
    .headerend-container a:hover .bxl-facebook-circle{
        font-size: 30px;
    }
